<!DOCTYPE html>
<html lang="en">

  <head>

    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Rocky Li">

    <title>Wall-Pinger</title>

    <!-- Bootstrap and jquery using CDNs -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- VPNs don't always work -->
    <!-- <link href="{% static 'connector/bootstrap4.0.0.min.css' %}" rel="stylesheet">
    <script src="{% static 'connector/jquery3.3.1.js' %}"></script>
    <script src="{% static 'connector/bootstrap4.0.0.min.js' %}"></script> -->

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'connector/style.css' %}">

  </head>

  <body id="page-top">

    <header class="intro_1 text-light">
      <div class="layer">
        <div class="full-bg-img">
          <div class="container text-center">
            <h1>Great FireWall Pinger</h1>
          </div>
        </div>
      </div>
    </header>

    <section id='websites'>
      <div class="container" style="padding-top:50px;">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <p class="lead">
              Due to the great firewall of China, many common website outside China is not accessible inside China, this is a pinger located in China to check which websites are blocked
            </p>
            <small>All times are in Greenwich Mean Time</small>
          </div>
          <div class="col-lg-12 mx-auto">
            <div class="row">
          {% if website_list %}
            {% for each in website_list %}
            <div class="col-lg-4 mx-auto website {{ each.condensed_name }} hoverdiv">
              <div class="passage {{ each.result.color }}">
                <p class='lead text-center'>
                  <b class="text-white webname">{{ each.website_name }}</b>
                  <br />
                  {{ each.website_url }}
                </p>
                <p class="text-center results">
                  Pinged at {{each.result.ping_time}}
                  <br />
                  {{ each.result.ping_success }}/5 packets returned
                  <br />
                  Average RTT: {{ each.result.ping_result }}
                </p>
                <div class="overlays">
                  {% csrf_token %}
                  <a href="{% url 'connector:ping' each.id %}" class="ajaxcall"><btn class="btn pingme text-white lead"> Ping Me </btn></a>
                  <a href="{% url 'connector:history' each.id %}" class="historycall float-right"><btn class="btn pingme text-white lead"> History </btn></a>
                </div>
                <div class="loadingframe">
                  <div class="loading text-white">
                    Pinging
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          {% endif %}
            </div>
            <div class="row">
              <div class="col-lg-10">
                <p>
                  See if your website is accessible in China, add a new website: <btn class='btn btn-info adding' id="adding"> Add </btn>
                </p>
                <form action="{% url 'connector:add_website' %}" style="display:none" id="addform">
                  {% csrf_token %}
                  <div class="formgroup">
                    <label for="website_n">Website Name</label>
                    <input type="text" class="form-control" id="website_n" aria-describedby="emailHelp" placeholder="Enter Website" name="website_name">
                  </div>
                  <div class="formgroup">
                    <label for="website_u">Website URL/IP Address</label>
                    <input type="text" class="form-control" id="website_u" aria-describedby="emailHelp" placeholder="Enter URL/IP" name="website_url">
                    <small> e.g. 'google.com', please don't include 'http://'</small>
                  </div>
                  <div class="formgroup">
                    <br />
                    <button type="submit" class="btn btn-primary" id="addclick"> Submit Website </button>
                    <br /><br />
                  </div>
                  <div class="loadingframe" id="addloading">
                    <div class="loading text-white">
                      Adding
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="{% static 'connector/wall.js' %}"></script>

    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; <a href='aperocky.com'>Rocky Li</a></p>
      </div>
      <!-- /.container -->
    </footer>
  </body>
